body {
    height: 100vh;
    width: 100vw;
    color: rgb(87, 87, 87);
    
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #ff3399 0%, #ff99cc 100%);
    height: 90px;
    color: white;
    
}

h1 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 15px;
}

header > p {
    font-family: 'Open Sans', sans-serif;
}

.book-card {
    display: flex;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    margin-top: 30px;
    
    

}

.right {
    display: flex;
    flex-direction: column;
    background-color: white;
    
}




.book-img {
    width: 140px;
}
.author {
    font-size: 15px;
    margin-bottom: 10px;
}
.right > p {
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;


}

.icon1, .icon2 {
    height: 25px;
    background-color: pink;
    border-radius: 10%;
    padding: 3px;
    position: relative;
    top: 60px;
    left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px gray;
}

.icon1:hover, .icon2:hover {
    background-color: #ff99cc;
}
.icon1:active, .icon2:active {
    background-color: pink;
}
.toggle {
    position: absolute;
    margin-top: 10px;

}

.update-btn {
    margin-left: 28px;
    background-color: #ff99cc;
    padding: 2px;
}



.grid {
    width: 900px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.title {
    margin-top: 15px;
    font-weight: bold;
}

.question {
    font-weight: bold;
}

.new-book {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
}

.add-btn {
    background-color: pink;
    border-color: white;
    border-radius: 15%;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    color: rgb(87, 87, 87)
}

.update-btn {
  height: 50px;
  width: 60px;
  border-radius: 10%;
  border-color: white;
  box-shadow: 1px 1px gray;
  color: rgb(87, 87, 87);
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
}

