body {
    height: 100vh;
    width: 100vw;
    color: rgb(97, 94, 94);
    font-family: 'Dancing Script', cursive;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}